.header{
  height: 80px;
  width: 100%;
  position: sticky;
  background-color: #00543C;
}

.card { 
  width: 250px;
  height: 300px;
  border:1px solid #CFCFCF;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
}